<h2 class="page-header">Register</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{!-- {{break}} --}}
      {{/each}}
{{/if}}
<form method="post" action="/users/password-reset">
   
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>